<header>
    
<style scoped>
/***/
.brand-logo img {
    width: 40px;
    position: relative;
    top: 2px;  
}

.brand-logo span {
    font-style: italic;
}

.brand-logo {
    margin-left: 1rem
}

h5[tos] {
    margin: 1rem;
}
</style>

<nav class="blue darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <img src="/pub/logo2.png" title="Homepage">
            <span>Hermes</span>
        </a>
        
        <a href="#!" data-target="main_sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<h5 tos class="red-text">We have updated our Terms of Service! Using Hermes platform provides you have been obeying and you will still obey them: <a href="/tos">Terms of Service</a></h5>

</header>
