  <ul id="main_sidenav" class="sidenav sidenav-fixed z-depth-0">
    <!-- <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li> -->
    <!-- <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->

    <li><a href="/dash/account-information"><i class="material-icons">account_box</i>Account information</a></li>
    <li><a href="/dash/send-demo-sms"><i class="material-icons">mail</i>Send demo SMS</a></li>
    <li><a href="/dash/api-reference"><i class="material-icons">settings_input_hdmi</i>API reference</a></li>

    <% if(User.id === 1) { %>

    <li><div class="divider"></div></li>
    <li><a href="/dash/admin/users"><i class="material-icons">supervisor_account</i>User Accounts</a></li>
    <li><a href="/dash/admin/sent-messages"><i class="material-icons">present_to_all</i>Sent Messages</a></li>
    <li><a href="/dash/admin/tickets"><i class="material-icons">book</i>All tickets</a></li>

    <% } else {%>
    <li><a href="/dash/tickets"><i class="material-icons">book</i>My tickets</a></li>

    <% }%>
    <li><div class="divider" ></div></li>
      
    <li><a href="/dash/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
  </ul>
<script>
    const MainSidenav = M.Sidenav.init(document.getElementById('main_sidenav'))
</script>
