<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('global/head') %>
    <title>Hermes - Frequent asked questions</title>

    <style>
        ul[tos] {
            margin-top: -.5rem;
            margin-left: 1rem;
        }

        li {
            margin-top: 5px;
        }
        p[q] {
            margin-top: 2rem;
            margin-left: 0;
            font-size: 18px;
        }

        main {
            padding-bottom: 2rem;
        }
    </style>
</head>
<body>
    <%- include('header') %>
    <%- include('sidenav') %>

    <main class="container">
        <h4>FAQ Section</h4>
        <p style="font-size:18px">Your question may have its answer here.</p>

        <p q><b>1) I have sent a message but the receipt number did not receive it. What's happening?</b></p>
        <p>SMS world is vast and complicated. There are dozens of reasons why it didn't receive, but the most common one is it has been flagged as spam
            by a certain carrier.
            
            For instance, if you send a message with text such as "I will invade USA", and at "from" you input "V. Putin" it's likely the message won't receive.
           
            <br><br>Or, if you send too many messages in a short amount of time to numbers administrated by a certain carrier, the latter one may blacklist Hermes's 
            carrier for some time.<br><br>
            
            Other reasons may include network overload from carrier's side, broken lines, etc. Unfortunately carriers reserve the right to not 
            specify reasons amid rejecting messages. Sometimes they may state they have received it but in fact discarded it. 
            Most of the time they do these to protect their customers from spam.
        </p>

        <p q><b>2) I have sent a message with a custom "from" name, but the receipt number has received it under a different "from" name</b></p>
        <p>There are 2 known reasons for this behaviour:
            <ul tos>
                <li>1) Receipt carrier does not allow custom "from" field from the numbers registered by Hermes. In which case Hermes may attempt to resend
                    the message under its actual number. It's known fact this happens for US receipts.
                </li>
                <li>2) Receipt carrier has chosen to map the "from" name to a number (usually a short one) of its own. That occurs to prevent spam.</li>
            </ul>
        </p>

        <p q><b>3) My SMS contains words which are blacklisted</b></p>
        <p>I try to keep this platform free from abusement. That is prevent sending messages which violate the <a href="/tos">Terms of Service</a>.
            If your SMS is harmless yet has been flagged, I'm sorry. Please rephrase it in another way with the same meaning.
        </p>

        <p q><b>4) Really now, is this website safe? I mean, sending SMS anonymously for free seems like honeypot to me...</b></p>
        <p>Project is open-source (the source code of site is open to view).
	    You can check it yourself at <a target="_blank" href="https://github.com/tgbv/hermes">Github</a>.
            However that doesn't mean I don't see/check the messages that anyone may send. 
            It's just that I can't know from which IP address they originate.
        </p>

        <p q><b>5) I want to contact the webmaster personally. How can I do it?</b></p>
        <p>You can reach me via the native ticketing system or by Telegram. 
            Check the footer of the site at "Contact" section.
        </p>

        <p q><b>6) I want to contribute. Is there a way?</b></p>
        <p>Engineering and financial contributions are welcomed!  
            Check the <a href="/donate">donation page</a> and Github project: 
            <a href="https://github.com/tgbv/hermes" target="_blank">https://github.com/tgbv/hermes</a>
        </p>

        <p q><b>7) My account is banned. What should I do?</b></p>
        <p>Very likely you did not obey the <a href="/tos">Terms of Service</a>.
            You should contact me on <a href="tg://resolve?domain=tgbvonion">Telegram</a> if you believe you were suspended for no good reason.
        </p>

    </main>

    <%- include('footer') %>


</body>
</html>
