<footer class="blue darken-2 white-text " >
    <div class="container ">
    <div class="row">
        
        <div class="col l6 s12 m6">
            <h5 class="white-text">Sitemap</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="/faq">FAQ</a></li>
                <li><a class="grey-text text-lighten-3" href="/tos">Terms of service</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Privacy statement</a></li>
            </ul>
        </div>
        <div class="col l6 s12 m6">
            <h5>Legacy</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/tgbv/hermes" target="_blank">Github</a> <i>(non Onion!)</i></li>
                <li><a class="grey-text text-lighten-3" href="tg://resolve?domain=tgbvonion" target="_blank">Telegram</a> <i>(non Onion!)</i></li>
            </ul>
        </div>
    </div>
    </div>

    <div class="footer-copyright blue darken-3">
        <div class="container">
            © 2021 tgbv and contributors
            <a class="grey-text text-lighten-4 right" >Logo licensed under CC</a>
        </div>

    </div>
</footer>
