<footer class="blue darken-2 white-text " >
    <div class="footer-copyright container ">
        © 2021 tgbv and contributors | Logo licensed under CC
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/tgbv/hermes">Github</a>
    </div>
</footer>
