<header>
    <style scoped>
    /***/
    .brand-logo img {
        width: 40px;
        position: relative;
        top: 2px;  
    }

    .brand-logo span {
        font-style: italic;
    }
    </style>
    
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <img src="/pub/logo.png" title="Homepage">
                <span>Hermes</span>
            </a>
            <ul id="nav-mobile" class="right hide-on-small-only">
                <li><a href="/auth/login">Login</a></li>
              </ul>
        </div>
    </nav>
</header>