<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('global/head') %>
    <title>Hermes - Terms of Service</title>

    <style>
        ul[tos] {
            margin-top: -1rem;
            margin-left: 1rem;
        }
        p {
            margin-top: 2rem;
            margin-left: 0;
        }
    </style>
</head>
<body>
    <%- include('header') %>
    <%- include('sidenav') %>

    <main class="container">
        <h4>Terms of Service</h4>
        <p style="font-size:18px">As you may have guessed, Hermes comes incorporated with some terms of service, which you <b>must</b> obey whenever you use this service.
            Failiure to comply may result in account deletion/suspension, funds confiscation (if any), and criminal investigation in cooperation with law enforcements
            depending on the gravity of situation:
        </p>

        <p><b>1)</b> Whenever you send a message, you must obey the law of <b>your</b> country and <b>the law of the country in which the receipt number resides</b>. 
            That is, if your country forbids to send death-threats messages within/outside it's borders, you ought to obey it! 
            If receipt number's country forbids the receiving of death-threats messages you ought to obey it! And so on..</p>
        
        <p><b>2)</b> You must obey the Romanian law.</p>

        <p><b>3)</b> You must obey the Terms of Service of the primary messaging carrier, which is Telnyx: <a href="https://telnyx.com/terms-and-conditions-of-service" target="_blank">https://telnyx.com/terms-and-conditions-of-service</a></p>

        <p><b>4)</b> You will not use this service to: 
            <ul tos>
                <li>- Spam other numbers (bombard them with messages, aka >3 / 5 minutes)</li>
                <li>- Carry informatic attacks of any kind (phishing, hacking, etc)</li>
                <li>- Carry physhical attacks of any kind (bombing, drone detonation, etc)</li>
                <li>- Carry psychological attacks of any kind (threatening people, blackmailing people, scamming, etc)</li>
                <li>- Be an asshole :)</li>
            </ul>
        </p>

        <p><b>5)</b> You agree that, <b>without any notice</b>: 
            <ul tos>
                <li>- We reserve the right to shut down the service at any time</li>
                <li>- We reserve the right to delete any data affiliated with you from our servers</li>
                <li>- We reserve the right to update our platform and modify our offered services at any time we want</li>
                <li>- We, and all other SMS carriers, reserve the right to read all the messages you send via this platform</li>
                <li>- We, and all other SMS carriers, reserve the right to update our terms of service</li>
            </ul>
        </p>

        <p><b>6)</b> You agree that</b>: 
            <ul tos>
                <li>- We reserve the right to not investigate any cause of any service disruption</li>
            </ul>
        </p>


    </main>

    <%- include('footer') %>


</body>
</html>