<div id="changePasswordModal" class="modal">
    <div class="modal-content">
      <h4>Change password</h4>
      <form action="/dash/change-password" method="POST">

          <div class="input-field ">
              <input id="old_password" name="old_password" type="password" class="validate" maxlength="128" minlength="3"
                  value="">
              <label for="old_password">Current password</label>
          </div>

          <div class="input-field">
              <input id="new_password" name="new_password" type="password" class="validate" maxlength="64" minlength="5"
                  value="">
              <label for="new_password">New password. Min 5 chars, max 64 chars.</label>
          </div>

          <button class="btn green darken-2 waves-effect waves-light"> Change</button>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-red btn-flat">Abort</a>
    </div>
  </div>
  <script>
      M.Modal.init(document.getElementById('changePasswordModal'))
  </script>
